In [18]:
import pandas as pd
import os
import geopandas as gpd
#import matplotlib.pyplot as plt
import contextily as ctx
import pyodbc
import pymssql
import sqlalchemy
import gzip
import csv
import json
import glob
import urllib
from sqlalchemy import create_engine
import tqdm

In [2]:
#load 2019 data
data_path = r'\\AWS-Model10\Model Data 2\INRIX'
os.chdir(data_path)

trips_header = pd.read_csv(os.path.join(r'\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1', 'schema', 'TripBulkReportTripsHeaders.csv'))
trips_df = pd.read_csv(os.path.join(r'\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trips\trips.csv.gz'), 
                       compression='gzip', names = trips_header.columns)
                       

traj_header = pd.read_csv(os.path.join(r'\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1', 'schema', 'TripBulkReportTrajectoriesHeaders.csv'))
#traj_df = pd.read_csv(os.path.join(r'\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajstrajs.csv.gz'), 
#                       compression='gzip', names = trips_header.columns)

In [ ]:
traj_header = pd.read_csv(os.path.join(r'\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1', 'schema', 'TripBulkReportTrajectoriesHeaders.csv'))

In [ ]:
traj_df = pd.read_csv(os.path.join(r'\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv.gz'), 
                       compression='gzip', names = traj_header.columns)

In [5]:
traj_df

,TripId,DeviceId,ProviderId,TripTimezone,TrajIdx,TrajRawDistanceM,TrajRawDurationMillis,SegmentId,SegmentIdx,LengthM,CrossingStartOffsetM,CrossingEndOffsetM,CrossingStartDateUtc,CrossingEndDateUtc,CrossingSpeedKph,OnRoadNetworkSnapCount,ErrorCodes
0,5551c27c3fb087dbede43779bc231bbd,912167cea504542b41d4549efad363db,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,20425.316163,2408949,-687694073_1,150,42.356,0.0,42.356,2019-05-06T14:03:41.032Z,2019-05-06T14:03:59.330Z,8.333045,0,NaN
1,35ff6cd95babdba06e2e42be3c3b842c,eca22f65417e3eca4befc1c00aa30243,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,16674.167125,1336016,594056009_1,17,206.250,0.0,206.250,2019-05-06T18:42:29.753Z,2019-05-06T18:42:49.730Z,37.167119,0,NaN
2,0ee60c7a83c9bfbbe5e8ff4592380288,80f828fb533056faee4cd17c2b6f383d,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,3745.049614,678018,61014862_0,38,63.760,0.0,63.760,2019-05-05T02:47:57.803Z,2019-05-05T02:48:09.014Z,20.472955,0,NaN
3,2a81b3a61cb207a728a16dc8d7741ad4,2b43f63905927faa56b523243c677486,f033ab37c30201f73f142449d037028d,America/Los_Angeles,0,32005.077191,1865946,292080442_0,85,58.177,0.0,58.177,2019-05-05T05:46:41.774Z,2019-05-05T05:46:44.294Z,83.097449,0,NaN
4,ab0f764110826aa970f657e39b908c16,84b57b6ef9437395ce5cce9e086cfaa4,f033ab37c30201f73f142449d037028d,America/Los_Angeles,0,13393.828158,1668048,250022448_8,151,83.854,0.0,83.854,2019-05-06T21:10:10.085Z,2019-05-06T21:10:30.585Z,14.725469,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2836658,df0ee46082df4c7e68ed21f6e98a9f25,801572fb2a8e2f08cc7173aac3ef5e16,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,12424.866263,1056977,444494470_7,55,58.607,0.0,58.607,2019-05-09T22:22:51.111Z,2019-05-09T22:22:55.454Z,48.575220,0,NaN
2836659,2f4433f483990f76d8fb60d850ce86ef,47147ab5a8de355b53d3742815dbd8df,45c48cce2e2d7fbdea1afc51c7c6ad26,America/Los_Angeles,0,160039.170117,6996977,6503478_1,209,179.811,0.0,179.811,2019-05-07T11:36:26.767Z,2019-05-07T11:36:32.994Z,103.961540,0,NaN
2836660,b8b1a1cee4bff2aa4cd6130c5a09bba5,c5427319c32960efb432923bcbc56042,f033ab37c30201f73f142449d037028d,America/Los_Angeles,0,81902.836401,4636016,451985518_0,134,76.270,0.0,76.270,2019-05-08T22:57:57.727Z,2019-05-08T22:58:01.371Z,75.351329,0,NaN
2836661,65ea58a34bc313e9c9ba3c4dff0796a9,c822735f11f12911d4d9f91aea82f682,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,12500.912355,1950030,428045786_11,170,136.927,0.0,136.927,2019-05-08T01:29:41.028Z,2019-05-08T01:29:48.810Z,63.344965,0,NaN
2836662,f26fb433653d3d7535adf881a434c24e,3b01881bb91ea6c01a9a214c54934c7c,f033ab37c30201f73f142449d037028d,America/Los_Angeles,0,83923.375908,8217998,-428245998_0,158,50.539,0.0,50.539,2019-05-07T22:42:52.338Z,2019-05-07T22:43:02.342Z,18.185954,0,NaN

In [7]:
traj_df.groupby('TripId')['TripId'].count().reset_index(name='count').sort_values(by=['count'])

                                  TripId  count
399251  804f938945f5e4b58e14d422610877fd      1
378494  79add776fc437503f0a0008429e1e37b      1
378492  79ad999a71641e8a5fc5a7bd274c4f01      1
378491  79ad9558d65d9c8a14ffe8cbca834790      1
378490  79ad84ecbb9705fda2c9fb8da844258d      1
...                                  ...    ...
435235  8bcbc069e2c15518099615d6f9d91ac8     76
337217  6c78dd33e1fbf3da2e0eb83f3d328d17     81
276166  58db5cac146fdd4d2d0e1efe0b5a0591     93
101470  20c6f3ff46419c92f4c5365708e973ac    100
145736  2f08dce97328dc0c5376eef98de4c2df    114

[798504 rows x 2 columns]

Separating Medium trucks from Heavy trucks

Upload trip table

In [ ]:
trips_header = pd.read_csv(os.path.join(r'\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1', 'schema', 'TripBulkReportTripsHeaders.csv'))
trips_df = pd.read_csv(os.path.join(r'\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trips\trips.csv.gz'), 
                       compression='gzip', names = trips_header.columns)

In [22]:
list(traj_with_trips.columns)

['TripId',
 'DeviceId',
 'ProviderId',
 'TripTimezone',
 'TrajIdx',
 'TrajRawDistanceM',
 'TrajRawDurationMillis',
 'SegmentId',
 'SegmentIdx',
 'LengthM',
 'CrossingStartOffsetM',
 'CrossingEndOffsetM',
 'CrossingStartDateUtc',
 'CrossingEndDateUtc',
 'CrossingSpeedKph',
 'OnRoadNetworkSnapCount',
 'ErrorCodes',
 'VehicleWeightClass']

In [4]:
#choosing columns that we need
cols = ['TripId','VehicleWeightClass']
trips_df_upd = trips_df[cols]

In [18]:
#left join the traj table
traj_with_trips = pd.merge(traj_df, trips_df_upd, how="left", on=["TripId"])

In [33]:
#Changing Time Zone and identofy times of week
traj_with_trips['StartDate_upd'] = (pd.to_datetime(traj_with_trips['CrossingStartDateUtc'])
                     .dt.tz_convert('America/Los_Angeles')) 
traj_with_trips["StartDOW"] = traj_with_trips["StartDate_upd"].apply(lambda x: x.strftime('%A'))
traj_with_trips["StartDate_dmy"] = traj_with_trips["StartDate_upd"].apply(lambda x: x.strftime('%d%m%Y'))
traj_with_trips["StartTime_h"] = traj_with_trips["StartDate_upd"].apply(lambda x: x.strftime('%H'))

In [34]:
#Identify weekends and delete them
weekdays = ["Monday", "Tuesday","Wednesday","Thursday","Friday"]
trips_df_weekdays = traj_with_trips[traj_with_trips.StartDOW.isin(weekdays)]

In [53]:
traj_with_trips_medium.head()

,TripId,DeviceId,ProviderId,TripTimezone,TrajIdx,TrajRawDistanceM,TrajRawDurationMillis,SegmentId,SegmentIdx,LengthM,...,CrossingStartDateUtc,CrossingEndDateUtc,CrossingSpeedKph,OnRoadNetworkSnapCount,ErrorCodes,VehicleWeightClass,StartDate_upd,StartDOW,StartDate_dmy,StartTime_h
0,5551c27c3fb087dbede43779bc231bbd,912167cea504542b41d4549efad363db,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,20425.316163,2408949,-687694073_1,150,42.356,...,2019-05-06T14:03:41.032Z,2019-05-06T14:03:59.330Z,8.333045,0,NaN,2,2019-05-06 07:03:41.032000-07:00,Monday,06052019,07
1,35ff6cd95babdba06e2e42be3c3b842c,eca22f65417e3eca4befc1c00aa30243,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,16674.167125,1336016,594056009_1,17,206.250,...,2019-05-06T18:42:29.753Z,2019-05-06T18:42:49.730Z,37.167119,0,NaN,2,2019-05-06 11:42:29.753000-07:00,Monday,06052019,11
4,ab0f764110826aa970f657e39b908c16,84b57b6ef9437395ce5cce9e086cfaa4,f033ab37c30201f73f142449d037028d,America/Los_Angeles,0,13393.828158,1668048,250022448_8,151,83.854,...,2019-05-06T21:10:10.085Z,2019-05-06T21:10:30.585Z,14.725469,0,NaN,2,2019-05-06 14:10:10.085000-07:00,Monday,06052019,14
6,c0d53f956c8aa7fe36f856a4cb6e98f2,42072bcef470c69466ea9a230bad2950,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,2190.888759,1036016,736546441_8,9,8.079,...,2019-05-06T21:55:12.091Z,2019-05-06T21:55:12.837Z,39.014110,0,NaN,2,2019-05-06 14:55:12.091000-07:00,Monday,06052019,14
8,0b30b6b5f3ee8a81d0a037fe7196c18e,1f7ba5b6271aa512b60b2b68de7815b9,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,66480.166878,5725966,777915505_3,391,62.846,...,2019-05-03T22:58:17.484Z,2019-05-03T22:58:20.710Z,70.132538,0,NaN,2,2019-05-03 15:58:17.484000-07:00,Friday,03052019,15

In [35]:
#separating medium from heavy trucks
traj_with_trips_heavy = trips_df_weekdays[trips_df_weekdays['VehicleWeightClass']==3]
traj_with_trips_medium = trips_df_weekdays[trips_df_weekdays['VehicleWeightClass']==2]

In [55]:
traj_with_trips_medium.groupby(['SegmentId','StartDate_dmy','StartTime_h']).size().reset_index(name='counts').sort_values(by=['counts'])

            SegmentId StartDate_dmy StartTime_h  counts
0        -100026065_0      14052019          16       1
1238564   427901478_4      16052019          08       1
1238563   427901478_4      15052019          16       1
1238562   427901478_4      15052019          15       1
1238561   427901478_4      15052019          14       1
...               ...           ...         ...     ...
1184693   376294459_0      08052019          14       8
705059    124045488_1      06052019          08       8
705060    124045488_1      06052019          09       8
986816    305335210_0      06052019          12       8
844021     23739103_0      01052019          07       8

[1883242 rows x 4 columns]

In [19]:
temp = traj_with_trips_medium.groupby(['SegmentId','StartDate_dmy','StartTime_h']).size().reset_index(name='counts')
temp.reset_index(inplace = True)
rename(columns={"SegmentId": "trips", "index": "SegmentId"})

NameError: name 'rename' is not defined

In [69]:
temp

           index     SegmentId StartDate_dmy StartTime_h  counts
0              0  -100026065_0      14052019          16       1
1              1  -100095907_2      23052019          20       1
2              2  -100095907_4      28052019          22       1
3              3  -100163147_0      03052019          12       1
4              4  -100163147_0      06052019          08       1
...          ...           ...           ...         ...     ...
1883237  1883237    99964390_2      02052019          07       1
1883238  1883238    99979708_0      13052019          16       1
1883239  1883239    99979708_0      15052019          10       1
1883240  1883240    99979708_4      02052019          05       1
1883241  1883241    99979708_5      24052019          08       1

[1883242 rows x 5 columns]

In [72]:
temp = temp.rename(columns={"SegmentId": "trips", "index": "SegmentId"})

In [76]:
temp2 = temp[temp['trips'].str.contains('-')]

In [79]:
temp2['trips']

0         -100026065_0
1         -100095907_2
2         -100095907_4
3         -100163147_0
4         -100163147_0
              ...
641132     -99964390_9
641133     -99979708_2
641134     -99979708_4
641135     -99979708_4
641136     -99979708_4
Name: trips, Length: 641137, dtype: object

In [32]:
pd.DataFrame(traj_with_trips_medium['SegmentId'].value_counts())

              SegmentId
124045488_1         431
124045486_0         389
376294459_0         376
451985516_0         376
376294458_0         373
...                 ...
-291552716_0          1
-6132383_14           1
-12189650_5           1
-6134739_11           1
737561229_0           1

[288394 rows x 1 columns]

In [23]:
import tqdm

In [6]:
path =r'\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs' 
File_List= glob.glob(path + "/*.gz")
i_trips_full_med = pd.DataFrame()
j_trips_full_med = pd.DataFrame()

i_trips_full_heavy = pd.DataFrame()
j_trips_full_heavy = pd.DataFrame()
list_ = []
for file_ in tqdm.tqdm(File_List):
    traj_df = pd.read_csv(file_, compression='gzip',names = traj_header.columns,sep=',',  error_bad_lines=False)
    print(file_)
    
    #left join the traj table
    traj_with_trips = pd.merge(traj_df, trips_df_upd, how="left", on=["TripId"])
    del traj_df
    
    #Changing Time Zone and identofy times of week
    traj_with_trips['StartDate_upd'] = (pd.to_datetime(traj_with_trips['CrossingStartDateUtc'])
                         .dt.tz_convert('America/Los_Angeles')) 
    traj_with_trips["StartDOW"] = traj_with_trips["StartDate_upd"].apply(lambda x: x.strftime('%A'))
    traj_with_trips["StartDate_dmy"] = traj_with_trips["StartDate_upd"].apply(lambda x: x.strftime('%d%m%Y'))
    traj_with_trips["StartTime_h"] = traj_with_trips["StartDate_upd"].apply(lambda x: x.strftime('%H'))
    
    #Identify weekends and delete them
    weekdays = ["Monday", "Tuesday","Wednesday","Thursday","Friday"]
    trips_df_weekdays = traj_with_trips[traj_with_trips.StartDOW.isin(weekdays)]
    
    #separating medium from heavy trucks
    #traj_with_trips_heavy = trips_df_weekdays[trips_df_weekdays['VehicleWeightClass']==3]
    traj_with_trips_medium = trips_df_weekdays[trips_df_weekdays['VehicleWeightClass']==2]
    
    trips_summary_med =traj_with_trips_medium.groupby(['SegmentId','StartDate_dmy','StartTime_h']).size().reset_index(name='counts')
    #trips_summary_heavy =traj_with_trips_medium.groupby(['SegmentId','StartDate_dmy','StartTime_h']).size().reset_index(name='counts')
    #trips_summary = pd.DataFrame(traj_df['SegmentId'].value_counts())
        
    trips_summary_med.reset_index(inplace = True)
    #trips_summary_heavy.reset_index(inplace = True)
    
    trips_summary_med = trips_summary_med.rename(columns={"SegmentId": "trips", "index": "SegmentId"})
    #trips_summary_heavy = trips_summary_heavy.rename(columns={"SegmentId": "trips", "index": "SegmentId"})
    
    i_trips_med = trips_summary_med[~trips_summary_med['trips'].str.contains('-')]
    i_trips_med = i_trips_med.rename(columns={"trips" : "trips_i"})
    
    #i_trips_heavy = trips_summary_heavy[~trips_summary_heavy['trips'].str.contains('-')]
    #i_trips_heavy = i_trips_heavy.rename(columns={"trips" : "trips_i"})

    j_trips_med = trips_summary_med[trips_summary_med['trips'].str.contains('-')]
    j_trips_med['SegmentId'] = j_trips_med['trips'].str[1:]
    j_trips_med = j_trips_med.rename(columns={"trips" : "trips_j"})
    
    #j_trips_heavy = trips_summary_heavy[trips_summary_heavy['trips'].str.contains('-')]
    #j_trips_heavy['SegmentId'] = j_trips_heavy['trips'].str[1:]
    #j_trips_heavy = j_trips_heavy.rename(columns={"trips" : "trips_j"})
    
    i_trips_full_med = pd.concat([i_trips_full_med,i_trips_med])
    j_trips_full_med = pd.concat([j_trips_full_med,j_trips_med])
    
    #i_trips_full_heavy = pd.concat([i_trips_full_heavy,i_trips_heavy])
    #j_trips_full_heavy = pd.concat([j_trips_full_heavy,j_trips_heavy])

  0%|          | 0/71 [00:00<?, ?it/s]

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  1%|▏         | 1/71 [04:03<4:44:14, 243.63s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv1.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  3%|▎         | 2/71 [08:12<4:43:42, 246.70s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv10.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  4%|▍         | 3/71 [12:35<4:48:17, 254.37s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv11.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  6%|▌         | 4/71 [16:40<4:39:48, 250.58s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv12.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  7%|▋         | 5/71 [21:00<4:39:10, 253.79s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv13.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  8%|▊         | 6/71 [25:25<4:39:04, 257.61s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv14.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 10%|▉         | 7/71 [29:49<4:37:16, 259.94s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv15.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 11%|█▏        | 8/71 [34:18<4:35:40, 262.54s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv16.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 13%|█▎        | 9/71 [38:18<4:24:11, 255.67s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv17.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 14%|█▍        | 10/71 [42:36<4:20:32, 256.26s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv18.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 15%|█▌        | 11/71 [46:57<4:17:54, 257.91s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv19.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 17%|█▋        | 12/71 [51:22<4:15:37, 259.96s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv2.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 18%|█▊        | 13/71 [55:42<4:11:17, 259.96s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv20.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 20%|█▉        | 14/71 [59:57<4:05:31, 258.45s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv21.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 21%|██        | 15/71 [1:04:23<4:03:16, 260.66s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv22.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 23%|██▎       | 16/71 [1:08:40<3:57:53, 259.52s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv23.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 24%|██▍       | 17/71 [1:12:51<3:51:17, 256.99s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv24.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 25%|██▌       | 18/71 [1:17:19<3:50:02, 260.42s/it]

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv25.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 27%|██▋       | 19/71 [1:21:18<3:40:00, 253.85s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv26.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 28%|██▊       | 20/71 [1:25:17<3:32:01, 249.44s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv27.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 30%|██▉       | 21/71 [1:29:18<3:25:52, 247.05s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv28.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 31%|███       | 22/71 [1:33:26<3:21:49, 247.14s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv29.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 32%|███▏      | 23/71 [1:37:27<3:16:24, 245.52s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv3.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 34%|███▍      | 24/71 [1:41:33<3:12:18, 245.50s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv30.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 35%|███▌      | 25/71 [1:45:41<3:08:51, 246.34s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv31.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 37%|███▋      | 26/71 [1:49:53<3:05:54, 247.89s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv32.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 38%|███▊      | 27/71 [1:54:01<3:01:53, 248.03s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv33.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 39%|███▉      | 28/71 [1:58:30<3:02:14, 254.30s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv34.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 41%|████      | 29/71 [2:02:44<2:57:53, 254.14s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv35.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 42%|████▏     | 30/71 [2:06:47<2:51:29, 250.95s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv36.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 44%|████▎     | 31/71 [2:11:06<2:48:54, 253.37s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv37.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 45%|████▌     | 32/71 [2:15:22<2:45:13, 254.18s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv38.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 46%|████▋     | 33/71 [2:19:51<2:43:40, 258.43s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv39.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 48%|████▊     | 34/71 [2:24:11<2:39:42, 258.98s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv4.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 49%|████▉     | 35/71 [2:28:29<2:35:10, 258.63s/it]

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv40.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 51%|█████     | 36/71 [2:32:43<2:30:02, 257.20s/it]

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv41.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 52%|█████▏    | 37/71 [2:36:47<2:23:37, 253.45s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv42.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 54%|█████▎    | 38/71 [2:40:53<2:18:02, 250.99s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv43.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 55%|█████▍    | 39/71 [2:45:07<2:14:27, 252.11s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv44.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 56%|█████▋    | 40/71 [2:49:16<2:09:48, 251.24s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv45.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 58%|█████▊    | 41/71 [2:53:25<2:05:10, 250.34s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv46.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 59%|█████▉    | 42/71 [2:57:36<2:01:09, 250.67s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv47.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 61%|██████    | 43/71 [3:01:52<1:57:42, 252.23s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv48.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 62%|██████▏   | 44/71 [3:06:11<1:54:21, 254.11s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv49.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 63%|██████▎   | 45/71 [3:10:38<1:51:50, 258.10s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv5.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 65%|██████▍   | 46/71 [3:15:01<1:48:07, 259.48s/it]

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv50.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 66%|██████▌   | 47/71 [3:19:52<1:47:39, 269.16s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv51.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 68%|██████▊   | 48/71 [3:24:31<1:44:15, 271.96s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv52.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 69%|██████▉   | 49/71 [3:28:54<1:38:42, 269.19s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv53.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 70%|███████   | 50/71 [3:33:33<1:35:19, 272.33s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv54.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 72%|███████▏  | 51/71 [3:37:50<1:29:15, 267.76s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv55.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 73%|███████▎  | 52/71 [3:42:06<1:23:40, 264.26s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv56.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 75%|███████▍  | 53/71 [3:46:29<1:19:06, 263.68s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv57.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 76%|███████▌  | 54/71 [3:50:49<1:14:24, 262.59s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv58.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 77%|███████▋  | 55/71 [3:55:04<1:09:23, 260.23s/it]

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv59.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 79%|███████▉  | 56/71 [3:59:33<1:05:43, 262.93s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv6.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 80%|████████  | 57/71 [4:04:33<1:03:55, 273.97s/it]

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv60.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 82%|████████▏ | 58/71 [4:09:09<59:30, 274.67s/it]  C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv61.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 83%|████████▎ | 59/71 [4:13:32<54:14, 271.20s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv62.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 85%|████████▍ | 60/71 [4:18:18<50:31, 275.56s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv63.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 86%|████████▌ | 61/71 [4:23:20<47:17, 283.72s/it]

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv64.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 87%|████████▋ | 62/71 [4:28:33<43:50, 292.31s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv65.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 89%|████████▊ | 63/71 [4:33:26<39:00, 292.51s/it]

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv66.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 90%|█████████ | 64/71 [4:38:38<34:49, 298.46s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv67.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 92%|█████████▏| 65/71 [4:43:39<29:55, 299.21s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv68.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 93%|█████████▎| 66/71 [4:49:02<25:31, 306.27s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv69.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 94%|█████████▍| 67/71 [4:54:28<20:48, 312.18s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv7.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 96%|█████████▌| 68/71 [4:59:42<15:38, 312.78s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv70.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 97%|█████████▋| 69/71 [5:01:00<08:04, 242.44s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv8.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
 99%|█████████▊| 70/71 [5:06:24<04:26, 266.70s/it]C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs\trajs.csv9.gz

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
100%|██████████| 71/71 [5:11:58<00:00, 263.64s/it]

In [7]:
i_trips_full_med

         SegmentId      trips_i StartDate_dmy StartTime_h  counts
641137      641137  100100179_0      02052019          12       1
641138      641138  100100179_2      02052019          12       1
641139      641139  100100179_3      02052019          12       1
641140      641140  100100179_5      03052019          21       1
641141      641141  100100179_6      16052019          12       1
...            ...          ...           ...         ...     ...
1943817    1943817   99968971_1      15052019          12       1
1943818    1943818   99979708_0      08052019          04       1
1943819    1943819   99979708_0      27052019          16       1
1943820    1943820   99979708_3      07052019          06       1
1943821    1943821   99979708_5      15052019          11       1

[89958410 rows x 5 columns]

In [16]:
j_trips_full_med.head(10)

     SegmentId       trips_j StartDate_dmy StartTime_h  counts
0  100026065_0  -100026065_0      14052019          16       1
1  100095907_2  -100095907_2      23052019          20       1
2  100095907_4  -100095907_4      28052019          22       1
3  100163147_0  -100163147_0      03052019          12       1
4  100163147_0  -100163147_0      06052019          08       1
5  100163147_0  -100163147_0      08052019          07       1
6  100163147_0  -100163147_0      15052019          13       1
7  100163147_0  -100163147_0      17052019          07       1
8  100163147_0  -100163147_0      22052019          09       1
9  100163147_0  -100163147_0      28052019          14       1

In [17]:
#trips by an hour
i_trips_upd_hour = i_trips_full_med.groupby(['trips_i','StartDate_dmy','StartTime_h'])['counts'].sum().reset_index(name='sum')
j_trips_upd_hour = j_trips_full_med.groupby(['SegmentId','StartDate_dmy','StartTime_h'])['counts'].sum().reset_index(name='sum')

all_segments_hour = i_trips_upd_hour.merge(j_trips_upd_hour, left_on= 'trips_i', right_on = 'SegmentId', how ='outer')

all_segments_hour = all_segments_hour.fillna(0)
all_segments_hour['total'] = all_segments_hour['sum_x'] + all_segments_hour['sum_y']
all_segments_hour.sort_values(by=['total'])

MemoryError: Unable to allocate 34.4 GiB for an array with shape (4614605549,) and data type int64

In [ ]:
all_segments_hour.to_csv('all_segments_hour.csv')

In [35]:
#trips by a segment
i_trips_upd = i_trips_full_med.groupby('SegmentId')['trips_i'].sum().reset_index(name='sum').sort_values(by=['sum'])
j_trips_upd = i_trips_full_med.groupby('SegmentId')['trips_j'].sum().reset_index(name='sum').sort_values(by=['sum'])

In [13]:
i_trips_upd_hour

              trips_i StartDate_dmy StartTime_h  sum
0         100026065_0      02052019          19    1
1         100026065_0      03052019          09    3
2         100026065_0      08052019          14    1
3         100026065_0      09052019          11    1
4         100026065_0      10052019          07    1
...               ...           ...         ...  ...
29876554   99980072_0      21052019          15    1
29876555   99980072_0      21052019          21    1
29876556   99980072_0      23052019          02    1
29876557   99980072_0      24052019          19    1
29876558   99980072_0      30052019          20    1

[29876559 rows x 4 columns]

In [38]:
all_segments = i_trips_upd.merge(j_trips_upd, on = 'SegmentId', how ='outer')
all_segments = all_segments.fillna(0)
all_segments['total'] = all_segments['sum_x'] + all_segments['sum_y']
all_segments

          SegmentId  sum_x   sum_y   total
0        5390687_16    1.0     0.0     1.0
1       288575150_0    1.0     0.0     1.0
2       288575152_0    1.0     0.0     1.0
3       288575158_0    1.0    10.0    11.0
4       288575158_1    1.0     0.0     1.0
...             ...    ...     ...     ...
684402  703027168_0    0.0   476.0   476.0
684403  703027169_0    0.0   476.0   476.0
684404  853730428_2    0.0   655.0   655.0
684405  174667357_0    0.0   981.0   981.0
684406  105807688_0    0.0  1303.0  1303.0

[684407 rows x 4 columns]

In [43]:
all_segments.max()

SegmentId    99980072_0
sum_x             53264
sum_y             12389
total             53264
dtype: object

Comparing INRIX segments with OSM segments

In [90]:
traj_list = i_trips['SegmentId'].tolist()
osm_list = osm['seg_id'].tolist()

In [94]:
set(traj_list) - set(osm_list)

{'519180986_0',
 '5259126_15',
 '430645240_3',
 '340558916_4',
 '371297755_0',
 '8163697_0',
 '52974767_9',
 '5905482_10',
 '5846044_17',
 '23690114_18',
 '487167145_0',
 '5401676_1',
 '197954497_4',
 '147580770_3',
 '12230709_1',
 '739721236_2',
 '129593268_6',
 '29376924_2',
 '90163554_0',
 '779462463_0',
 '65230017_0',
 '746884061_1',
 '5328259_0',
 '188367410_0',
 '69202713_2',
 '94854635_8',
 '285346745_44',
 '24220702_0',
 '215656968_0',
 '121875859_1',
 '107627287_0',
 '34926117_0',
 '35306732_0',
 '6070423_4',
 '395028958_0',
 '6215989_15',
 '245221243_5',
 '169411760_3',
 '12238974_6',
 '6479184_2',
 '645169122_0',
 '611865255_0',
 '280419688_1',
 '418685630_0',
 '339850285_3',
 '12237655_11',
 '65229965_1',
 '494326906_0',
 '487167144_0',
 '31827237_0',
 '5502758_0',
 '421949596_3',
 '336858017_0',
 '6118158_11',
 '141273347_0',
 '31877211_0',
 '107344684_2',
 '6180238_1',
 '224740204_39',
 '241168641_0',
 '34161035_0',
 '367550642_0',
 '33420554_19',
 '6189370_2',
 '132133148_0',
 '6181241_8',
 '786809574_3',
 '326320802_0',
 '596877616_1',
 '615447152_2',
 '35482779_1',
 '124269462_0',
 '203653599_0',
 '284321299_6',
 '284052689_8',
 '6185251_2',
 '22713012_2',
 '705775128_7',
 '97335851_0',
 '6187318_5',
 '5901596_97',
 '204877097_6',
 '22709328_14',
 '69324542_7',
 '5908488_0',
 '654846310_0',
 '448581485_2',
 '34917200_0',
 '287195560_6',
 '98391893_0',
 '41381982_1',
 '688514152_1',
 '6072831_1',
 '120733454_1',
 '6071188_2',
 '289928597_2',
 '168651852_5',
 '106177350_0',
 '139935006_7',
 '300145030_11',
 '22711633_5',
 '137478813_4',
 '699988067_0',
 '34951682_0',
 '84618194_0',
 '136040114_16',
 '119112615_1',
 '5505818_0',
 '124413050_0',
 '6188866_9',
 '771804297_1',
 '371463616_8',
 '842903613_0',
 '539534223_2',
 '5288409_23',
 '78484730_7',
 '5859689_3',
 '626138298_0',
 '337892990_0',
 '60494277_8',
 '246387285_2',
 '540103458_64',
 '12237527_8',
 '6069879_0',
 '114015502_0',
 '12222100_1',
 '303288263_13',
 '6189019_4',
 '235105310_3',
 '5858146_5',
 '22711740_4',
 '98662733_0',
 '245079494_0',
 '317271650_4',
 '187869905_2',
 '605059072_0',
 '609639313_3',
 '842282332_0',
 '98365971_0',
 '733559168_7',
 '698439791_0',
 '784218924_0',
 '197591992_2',
 '784680543_9',
 '791845970_6',
 '37624789_2',
 '853182607_0',
 '306057808_13',
 '5909359_9',
 '571775371_3',
 '448581488_0',
 '172772705_0',
 '662579218_10',
 '699800779_3',
 '150278825_2',
 '6218001_15',
 '258429919_2',
 '284548769_5',
 '32888299_0',
 '5914777_16',
 '5845814_2',
 '182408572_0',
 '119208846_0',
 '92367262_0',
 '5902414_1',
 '5905553_123',
 '5929398_0',
 '6185865_0',
 '23122927_0',
 '852976883_0',
 '163027253_3',
 '6202537_0',
 '540103458_7',
 '5501595_0',
 '129635850_2',
 '755576797_4',
 '816296353_0',
 '6183997_2',
 '6192587_1',
 '6187831_14',
 '513490815_5',
 '674115579_0',
 '58690317_6',
 '628511992_0',
 '218677546_3',
 '448051935_6',
 '5263202_7',
 '30967172_4',
 '5915229_5',
 '243116417_14',
 '5917054_19',
 '367278925_1',
 '470931653_0',
 '23530063_0',
 '28737200_5',
 '123268619_0',
 '34156054_0',
 '23691789_3',
 '824225408_3',
 '5430093_1',
 '5863712_0',
 '5860430_5',
 '785468504_0',
 '35138630_0',
 '93823250_0',
 '34926776_0',
 '129603211_5',
 '34004405_4',
 '34720771_0',
 '128691479_3',
 '479447833_0',
 '6190466_7',
 '628019893_2',
 '109484346_0',
 '22710719_2',
 '203307800_15',
 '29170228_0',
 '188843451_5',
 '22710438_51',
 '30374100_0',
 '372819883_3',
 '5833036_11',
 '87219911_5',
 '5913627_6',
 '6460349_29',
 '703224610_4',
 '5902274_4',
 '173554542_29',
 '699988097_4',
 '504314176_0',
 '34771487_0',
 '5257386_0',
 '625714617_0',
 '34912762_0',
 '164769675_6',
 '633459909_0',
 '36890742_0',
 '291857105_1',
 '771851602_0',
 '5929308_0',
 '141258952_0',
 '374757832_14',
 '5845955_21',
 '241762694_0',
 '6216877_4',
 '42277138_0',
 '121297301_0',
 '171542393_0',
 '745621204_34',
 '218464894_7',
 '6194996_3',
 '842536185_0',
 '736552541_16',
 '156745549_0',
 '844941271_1',
 '5532451_0',
 '230750319_0',
 '840392569_0',
 '5703446_0',
 '699988098_2',
 '91368055_0',
 '548066230_0',
 '32201161_0',
 '835364314_2',
 '23577443_1',
 '182466031_0',
 '369631214_4',
 '6192608_0',
 '5936851_1',
 '257366357_3',
 '187863245_0',
 '318263194_5',
 '149815621_0',
 '5511702_1',
 '5935251_9',
 '783823658_2',
 '239924216_16',
 '5539228_10',
 '6193469_3',
 '781696889_0',
 '160270936_1',
 '118644753_2',
 '22710772_5',
 '5908378_0',
 '27113271_1',
 '6342949_14',
 '196941727_4',
 '5878384_2',
 '119112615_0',
 '460529314_0',
 '5849570_10',
 '479249780_0',
 '853763273_1',
 '699800869_2',
 '32883500_1',
 '222882296_0',
 '36895621_37',
 '30263303_0',
 '754175481_0',
 '257006340_9',
 '34917352_3',
 '89784256_28',
 '589350895_1',
 '99134979_0',
 '332724011_0',
 '317831942_6',
 '271508154_13',
 '374757838_5',
 '5250018_0',
 '760129507_0',
 '139332594_0',
 '6069484_0',
 '35006158_0',
 '26983668_0',
 '211998725_0',
 '137347413_1',
 '12241056_11',
 '790281361_0',
 '318477910_0',
 '773664386_0',
 '577912722_1',
 '758315595_89',
 '6072885_13',
 '123280662_2',
 '6069045_7',
 '23924587_0',
 '23825720_0',
 '662536815_3',
 '34174651_1',
 '51758609_0',
 '5927793_5',
 '5255418_2',
 '405937660_0',
 '140166354_2',
 '109972132_12',
 '772988911_0',
 '483380121_2',
 '91633760_2',
 '597991277_0',
 '704797186_2',
 '5867993_0',
 '835364317_12',
 '589306337_1',
 '445522041_0',
 '22711241_7',
 '117315164_0',
 '824114668_0',
 '446920035_1',
 '374490558_5',
 '6191033_5',
 '31324752_0',
 '175178812_0',
 '5445058_13',
 '465207012_0',
 '288968552_14',
 '150155145_1',
 '6180097_9',
 '74268863_0',
 '5904507_7',
 '458499432_0',
 '757290216_0',
 '5910829_5',
 '5903239_3',
 '22709068_3',
 '722001413_0',
 '169284914_1',
 '848856337_0',
 '418731564_8',
 '840571911_1',
 '560371064_3',
 '287111952_35',
 '5854857_10',
 '34003776_4',
 '229729767_13',
 '366736713_13',
 '197591987_1',
 '6186673_3',
 '30369444_0',
 '205951177_0',
 '699988030_1',
 '307714597_3',
 '27268462_11',
 '286311328_3',
 '119209161_16',
 '91634930_0',
 '36921685_0',
 '6189712_1',
 '6139779_34',
 '5903033_11',
 '41948667_3',
 '6184058_3',
 '197463123_0',
 '228416369_58',
 '699218979_0',
 '684998629_0',
 '118480798_1',
 '123280662_3',
 '418577865_0',
 '676445830_0',
 '331772120_1',
 '609639327_0',
 '238984568_1',
 '620893715_2',
 '109972682_0',
 '282443300_0',
 '118116181_1',
 '829064557_0',
 '785037452_0',
 '23843925_0',
 '5846044_12',
 '589495297_0',
 '34894565_0',
 '27198750_1',
 '50288704_0',
 '127459729_7',
 '699800840_0',
 '232291322_0',
 '164769675_2',
 '173554543_11',
 '5507152_8',
 '41549592_1',
 '754168329_0',
 '6183489_1',
 '5864906_14',
 '5909487_4',
 '121510101_8',
 '616819602_15',
 '42341686_20',
 '6064265_3',
 '5906128_15',
 '209524083_1',
 '142327602_0',
 '608024718_0',
 '584907047_0',
 '774892442_42',
 '814326475_1',
 '43242729_1',
 '5929035_2',
 '824126997_0',
 '169463031_0',
 '428292045_0',
 '463383075_0',
 '6113936_3',
 '409892128_5',
 '95294315_0',
 '51064736_5',
 '6184079_0',
 '6185173_3',
 '611955503_0',
 '687481410_16',
 '853864068_7',
 '221845685_11',
 '156536873_0',
 '479245679_1',
 '6181585_14',
 '6184079_1',
 '12245400_7',
 '834823281_1',
 '852714836_8',
 '5920134_0',
 '30474319_0',
 '156896688_1',
 '116427547_0',
 '369631213_23',
 '355756837_11',
 '6131104_10',
 '285766802_15',
 '5849791_3',
 '5925266_0',
 '6181595_9',
 '6071088_10',
 '121298036_9',
 '5895898_0',
 '6187206_5',
 '298379922_2',
 '430460989_4',
 '503019383_8',
 '844941271_134',
 '480103111_2',
 '186437353_0',
 '846295747_14',
 '36895622_11',
 '169463010_6',
 '842536035_0',
 '321567807_0',
 '406538540_5',
 '135933327_4',
 '418711737_0',
 '124282806_0',
 '570684417_1',
 '39509732_0',
 '506603320_2',
 '367908053_0',
 '5251082_0',
 '106855882_4',
 '6140919_35',
 '405886850_1',
 '6354665_51',
 '5251808_1',
 '41887950_0',
 '28786709_0',
 '6389764_51',
 '663640330_4',
 '758867119_14',
 '480103111_0',
 '22712948_12',
 '699302790_4',
 '842501359_0',
 '5846044_28',
 '686424575_0',
 '5869244_0',
 '358928375_16',
 '376176307_12',
 '485393046_0',
 '23628079_2',
 '6211439_2',
 '846380152_0',
 '22709481_1',
 '749702795_78',
 '398074734_1',
 '341457994_0',
 '5099971_0',
 '95455523_2',
 '317447177_2',
 '303289623_0',
 '841194531_0',
 '840894901_19',
 '98394933_0',
 '239924216_22',
 '37763947_0',
 '796735582_3',
 '169465281_0',
 '826002196_0',
 '36836822_1',
 '217352723_17',
 '121297320_0',
 '5753957_1',
 '23283325_1',
 '276902669_0',
 '36965560_0',
 '525486635_0',
 '60095292_6',
 '659164605_1',
 '52120978_0',
 '738525134_9',
 '5901755_0',
 '5259126_6',
 '371463614_10',
 '50096232_0',
 '23921658_0',
 '6181677_5',
 '838486790_0',
 '23843957_0',
 '467057660_3',
 '91096198_3',
 '500267298_0',
 '88264590_0',
 '6186865_6',
 '314897647_3',
 '6192636_0',
 '6070374_5',
 '842282399_0',
 '6463063_8',
 '138551380_3',
 '91368058_0',
 '22710023_12',
 '622276055_10',
 '285759533_3',
 '6191371_18',
 '842501355_0',
 '6139499_32',
 '71282281_1',
 '22711122_25',
 '182086516_0',
 '445834647_0',
 '428025250_2',
 '6188876_19',
 '23921917_6',
 '5913456_5',
 '73522860_1',
 '5901887_0',
 '119112420_2',
 '186796147_0',
 '5871116_3',
 '186973845_0',
 '38519875_0',
 '5907111_0',
 '785781594_5',
 '203307800_0',
 '12232667_5',
 '6184609_10',
 '454803604_0',
 '173554514_4',
 '15547251_11',
 '317325900_8',
 '506606990_7',
 '150282082_4',
 '506291093_0',
 '5847485_5',
 '6070356_0',
 '258429296_1',
 '846295747_3',
 '22712948_4',
 '5908330_13',
 '5931038_1',
 '228469829_2',
 '454558978_0',
 '543115924_0',
 '506603787_0',
 '69308851_9',
 '815091037_6',
 '842282391_0',
 '232589913_1',
 '112268840_27',
 '6521535_7',
 '286138875_13',
 '109972132_4',
 '223009210_0',
 '209490319_0',
 '60823916_1',
 '285838248_3',
 '6186264_6',
 '844941271_25',
 '739721236_10',
 '5862283_9',
 '12242451_53',
 '186705212_6',
 '99626399_7',
 '503019383_24',
 '211057929_3',
 '844941271_84',
 '99627325_12',
 '6136830_45',
 '6076181_0',
 '816754914_2',
 '12221931_9',
 '545742770_0',
 '258957001_38',
 '590249253_5',
 '5915951_5',
 '633780388_0',
 '5907930_0',
 '705000395_4',
 '37689024_0',
 '306184587_3',
 '366748698_1',
 '32290412_0',
 '41792159_1',
 '5899698_1',
 '22711002_13',
 '486037798_0',
 '395201663_1',
 '755762109_20',
 '719079174_0',
 '99132406_2',
 '56701883_0',
 '5917628_5',
 '137478799_11',
 '327505405_0',
 '238383299_1',
 '61841700_4',
 '428255700_31',
 '120744055_4',
 '186829089_0',
 '173554538_7',
 '5901943_5',
 '32893160_0',
 '6186865_8',
 '6182210_11',
 '6177133_0',
 '853111296_0',
 '118644753_3',
 '336858020_8',
 '826801703_2',
 '238986260_1',
 '22712880_44',
 '32249398_4',
 '699302835_1',
 '179704601_1',
 '142564755_1',
 '37273124_1',
 '5317352_17',
 '129601985_4',
 '6071727_12',
 '6194194_4',
 '6185251_58',
 '749702795_80',
 '699218982_0',
 '763012467_7',
 '187863149_3',
 '34712548_0',
 '785857305_45',
 '5258658_0',
 '27068744_1',
 '5929698_2',
 '12245329_26',
 '420088392_5',
 '433068090_4',
 '284577751_1',
 '99627004_2',
 '177706790_1',
 '6188235_11',
 '224740204_6',
 '137719446_4',
 '139469948_16',
 '28737200_4',
 '467712699_0',
 '842536104_0',
 '6068546_16',
 '117182086_17',
 '12242641_15',
 '355756844_2',
 '35019451_0',
 '6183411_34',
 '524563215_0',
 '224665581_0',
 '32670872_2',
 '30266765_0',
 '823778341_1',
 '291857110_4',
 '60095287_4',
 '5901700_9',
 '22709068_5',
 '6124080_18',
 '32194960_2',
 '824225395_33',
 '543106487_0',
 '5832339_0',
 '842536110_0',
 '533699030_0',
 '5902552_5',
 '127697533_0',
 '34869317_0',
 '761541623_29',
 '179577125_22',
 '34615923_0',
 '777938400_2',
 '172772665_1',
 '5264786_1',
 '6177656_1',
 '739678025_1',
 '23920850_0',
 '28756234_0',
 '6069192_13',
 '776894936_0',
 '6183182_2',
 '6191392_1',
 '6160508_0',
 '51909938_14',
 '458594141_0',
 '261577377_52',
 '5842802_2',
 '465055562_1',
 '6182155_1',
 '103693706_1',
 '69285768_0',
 '154246294_0',
 '197467545_1',
 '243358070_17',
 '160390329_0',
 '738188849_0',
 '179703216_2',
 '5918168_2',
 '425871659_2',
 '6212893_1',
 '755350407_1',
 '800606131_12',
 '5543307_2',
 '6449216_27',
 '6183411_8',
 '473684055_1',
 '5914057_5',
 '12230057_4',
 '317325899_4',
 '41675136_21',
 '33262097_1',
 '770316176_0',
 '22709510_0',
 '6072885_3',
 '5911164_24',
 '22712692_3',
 '56694715_0',
 '5860630_4',
 '460748797_0',
 '292510213_3',
 '5844361_2',
 '36895621_14',
 '34111286_12',
 '765286807_0',
 '844854017_0',
 '221845685_4',
 '51711429_0',
 '577915409_1',
 '704999036_0',
 '5912814_3',
 '285346743_2',
 '784680543_5',
 '842935176_1',
 '842280118_14',
 '40069645_28',
 '317834805_8',
 '160418263_0',
 '239833166_13',
 '331899078_5',
 '597591314_0',
 '284321306_5',
 '106855838_0',
 '394544385_0',
 '32252575_0',
 '636836980_0',
 '5855204_24',
 '23924470_6',
 '768108719_16',
 '6070063_18',
 '374583463_2',
 '449152705_1',
 '689988125_2',
 '23589295_0',
 '448049306_1',
 '5263487_0',
 '459270623_0',
 '374020585_27',
 '6176007_4',
 '56696614_4',
 '69285759_0',
 '5894623_0',
 '26466759_0',
 '5909493_0',
 '6181595_1',
 '136368955_1',
 '5916134_8',
 '32000468_0',
 '784684678_25',
 '835364310_5',
 '16410602_1',
 '119209004_1',
 '6180784_5',
 '61841690_3',
 '275521693_0',
 '446596261_1',
 '22709539_2',
 '538610577_2',
 '6068780_1',
 '208507870_14',
 '446440433_0',
 '260316653_1',
 '99626407_9',
 '23630409_0',
 '687694073_17',
 '456709132_2',
 '633780414_1',
 '761585863_2',
 '6188334_5',
 '844941271_51',
 '22711121_9',
 '371463614_23',
 '839513647_1',
 '22710906_1',
 '5903364_8',
 '196944577_0',
 '173554545_1',
 '687694073_16',
 '120719442_0',
 '5918860_6',
 '34873608_9',
 '22709575_15',
 '140334732_0',
 '410276271_0',
 '764888173_1',
 '448060861_0',
 '468777138_0',
 '119208880_2',
 '34110846_0',
 '755576803_0',
 '6185903_9',
 '237003741_0',
 '6072360_1',
 '738217484_1',
 '702932963_0',
 '94689182_40',
 '49098926_0',
 '5917323_1',
 '5906128_14',
 '127697496_0',
 '22711120_0',
 '553234912_0',
 '172676065_4',
 '286142035_0',
 '197467056_4',
 '6069975_2',
 '6069298_1',
 '162620229_0',
 '6472685_16',
 '5855285_3',
 '199352246_2',
 '99627325_1',
 '286318816_3',
 '635029522_0',
 '53247220_0',
 '361975483_26',
 '6063050_8',
 '6063487_4',
 '826314455_1',
 '342375478_0',
 '759504470_25',
 '182081197_2',
 '284715324_6',
 '5249536_5',
 '824739149_0',
 '5910933_11',
 '119209118_5',
 '6072885_5',
 '369631214_8',
 '457760374_0',
 '32900008_1',
 '37749405_0',
 '88289728_2',
 '5846044_14',
 '169462084_7',
 '6183497_1',
 '6186522_0',
 '685999132_0',
 '114002392_5',
 '28638143_0',
 '215294624_8',
 '258429296_32',
 '129603201_7',
 '5257288_2',
 '692437896_0',
 '495336842_17',
 '139291858_6',
 '6185903_5',
 '847397572_12',
 '369631210_4',
 '199584285_7',
 '841258929_0',
 '28763103_2',
 '418576368_0',
 '853751411_0',
 '5858299_5',
 '291857111_33',
 '43149864_0',
 '12222165_21',
 '736512731_0',
 '91305527_3',
 '6183182_3',
 '6193808_7',
 '5256390_5',
 '22709652_0',
 '5511099_0',
 '6062948_6',
 '5915936_17',
 '6189659_1',
 '174016992_0',
 '6113936_5',
 '12215953_2',
 '119209161_11',
 '5898560_2',
 '353714430_1',
 '834008953_10',
 '546456785_3',
 '698702419_0',
 '842536125_0',
 '385452729_7',
 '5858001_0',
 '12236021_36',
 '6186861_4',
 '447256110_14',
 '699800784_3',
 '140199099_0',
 '480707807_1',
 '5931038_0',
 '170539054_2',
 '5897343_1',
 '5260360_10',
 '6181585_28',
 '122604266_5',
 '286285091_34',
 '34320324_0',
 '318165726_0',
 '453528962_1',
 '852714836_22',
 '189469006_1',
 '350671219_14',
 '119209101_7',
 '5901625_0',
 '96851036_0',
 '517159688_2',
 '113545767_0',
 '418708926_1',
 '758863802_0',
 '5904163_1',
 '143268404_0',
 '668009912_0',
 '397198669_1',
 '374757831_0',
 '847397572_3',
 '755572868_0',
 '685121458_2',
 '118776277_0',
 ...}

In [92]:
(len(set(traj_list) - set(osm_list))/len(traj_list))*100

20.28307502369982

In [3]:

path =r'\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs' 
file_List= glob.glob(path + "/*.gz")

df = pd.concat(map(pd.read_csv, glob.glob(path + "/*csv.gz")))

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3343: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [48]:
data_path = r'X:\Trans\Freight\Data\OSM'
os.chdir(data_path)
os.getcwd()

'X:\\Trans\\Freight\\Data\\OSM'

In [72]:
os.getcwd()

'X:\\Trans\\Freight\\Data\\OSM'

In [49]:
#reading in OSM files
osm = gpd.read_file("New File Geodatabase.gdb", driver='FileGDB', layer='inrix_osm_region')

In [54]:
sum(all_segments["SegmentId"].duplicated())

0

In [66]:
all_segments.describe()

               sum_x          sum_y          total
count  684407.000000  684407.000000  684407.000000
mean      211.913705      90.929285     302.842990
std      1349.663034     374.043282    1486.500368
min         0.000000       0.000000       1.000000
25%         1.000000       1.000000       3.000000
50%         6.000000       3.000000      11.000000
75%        36.000000      22.000000      67.000000
max     53264.000000   12389.000000   53264.000000

In [58]:
#joining OSM file with Traj segments on SegmentId

OSM_traj = pd.merge(all_segments, osm, left_on='SegmentId', right_on='seg_id')

In [67]:
OSM_traj_limit = OSM_traj[OSM_traj['total']>10]

In [69]:
OSM_traj_limit = gpd.GeoDataFrame(OSM_traj_limit, geometry = OSM_traj_limit.geometry)
OSM_traj_limit.to_file("J:\Projects\INRIX\data\INRIX traj aggregated\OSM_traj_limit.shp")

In [64]:
OSM_traj = gpd.GeoDataFrame(OSM_traj, geometry = OSM_traj.geometry)

In [65]:
OSM_traj.to_file("J:\Projects\INRIX\data\INRIX traj aggregated\OSM_traj.shp")

In [95]:
all_osm1 = gpd.read_file("SegmentReference.shp")

In [96]:
all_osm2 = gpd.read_file("SegmentReference1.shp")

In [71]:
OSM_traj_limit

,SegmentId,sum_x,sum_y,total,seg_id,roadname,length_m,sseg_id,from_node,to_node,compseg_id,frc,tz,heading,complement,Shape_Length,geometry
2,288575158_0,1.0,10.0,11.0,288575158_0,,4.474,288575158,1327013350,2921246169,-288575158_0,6,America/Los_Angeles,Some(0),,14.675721,"MULTILINESTRING ((1195722.025 272817.947, 1195..."
123,6523353_2,1.0,12.0,13.0,6523353_2,Northeast 140th Place,84.700,6523353,53194736,53238573,-6523353_2,5,America/Los_Angeles,Some(74),,278.630743,"MULTILINESTRING ((1308900.187 267925.070, 1309..."
188,287428990_0,1.0,10.0,11.0,287428990_0,,39.527,287428990,2910306417,2910306428,-287428990_0,6,America/Los_Angeles,Some(313),,129.890337,"MULTILINESTRING ((1220621.424 299821.210, 1220..."
446,290560247_0,1.0,11.0,12.0,290560247_0,,83.960,290560247,2940762916,2940762920,-290560247_0,6,America/Los_Angeles,Some(16),,275.622417,"MULTILINESTRING ((1294152.210 172501.528, 1294..."
447,290560247_1,1.0,11.0,12.0,290560247_1,,105.848,290560247,2940762920,2940762912,-290560247_1,6,America/Los_Angeles,Some(346),,347.421940,"MULTILINESTRING ((1294217.007 172712.094, 1294..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458239,646763245_0,0.0,269.0,269.0,646763245_0,,54.721,646763245,6075712775,6075712779,-646763245_0,6,America/Los_Angeles,Some(89),,180.071682,"MULTILINESTRING ((1260453.588 39207.615, 12605..."
458240,733910242_2,0.0,272.0,272.0,733910242_2,,31.173,733910242,6873392923,6873392928,-733910242_2,6,America/Los_Angeles,Some(209),,102.332705,"MULTILINESTRING ((1273014.460 203181.907, 1272..."
458241,54108034_0,0.0,292.0,292.0,54108034_0,Orillia Road South,17.972,54108034,1822189720,1822189671,-54108034_0,5,America/Los_Angeles,Some(206),,58.990100,"MULTILINESTRING ((1284975.058 161266.819, 1284..."
458242,174667357_0,0.0,981.0,981.0,174667357_0,Southeast Homestead Valley Road,98.017,174667357,53022351,53177090,-174667357_0,4,America/Los_Angeles,Some(185),,321.563526,"MULTILINESTRING ((1433838.579 162961.048, 1433..."
458243,105807688_0,0.0,1303.0,1303.0,105807688_0,,60.107,105807688,1218280433,1193597427,-105807688_0,1,America/Los_Angeles,Some(180),,197.174432,"MULTILINESTRING ((1269957.826 212575.712, 1269..."

In [97]:
osm_list_all1 = all_osm1['seg_id'].tolist()
osm_list_all2 = all_osm2['seg_id'].tolist()

In [101]:
osm_list_all = osm_list_all1+osm_list_all2

In [105]:
len(set(traj_list) - set(osm_list_all))

16738

In [106]:
set(traj_list) - set(osm_list_all)

{'29170674_0',
 '835364313_3',
 '828702402_0',
 '52974767_9',
 '838032370_0',
 '44722133_5',
 '418972075_0',
 '23989837_0',
 '32293246_1',
 '185037548_0',
 '23690114_18',
 '456378049_0',
 '12172101_5',
 '5401676_1',
 '34913770_0',
 '197954497_4',
 '12230709_1',
 '90163554_0',
 '242428541_11',
 '6138496_10',
 '164667208_28',
 '840434483_0',
 '6355724_15',
 '850601991_2',
 '143657596_1',
 '127591105_3',
 '12171203_2',
 '5328259_0',
 '188367410_0',
 '259121540_7',
 '704459997_5',
 '121734200_0',
 '45313453_0',
 '392627018_1',
 '51528346_2',
 '91535847_0',
 '121875859_1',
 '107627287_0',
 '442636581_0',
 '392799886_0',
 '261560693_14',
 '34926117_0',
 '12242128_15',
 '737524650_77',
 '5916867_12',
 '127588925_5',
 '395028958_0',
 '485642300_0',
 '847474027_3',
 '825911635_1',
 '6416923_26',
 '185379375_0',
 '418752036_1',
 '6479856_11',
 '199340032_0',
 '245221243_5',
 '6479184_2',
 '12238974_6',
 '595236871_1',
 '749691051_0',
 '34926932_1',
 '204489576_2',
 '34913442_6',
 '418685630_0',
 '340583612_0',
 '50096233_1',
 '32000444_0',
 '12237655_11',
 '123383420_11',
 '12239719_13',
 '6129198_18',
 '569114531_2',
 '31827237_0',
 '428088958_3',
 '5502758_0',
 '844941271_37',
 '475819383_0',
 '6140768_12',
 '5915035_8',
 '26263795_0',
 '6118158_11',
 '141273347_0',
 '449152740_1',
 '107344684_2',
 '835364311_0',
 '34161035_0',
 '367550642_0',
 '712962805_1',
 '12239941_14',
 '5531697_0',
 '25519727_0',
 '61193546_0',
 '6142877_40',
 '6140898_23',
 '5697222_20',
 '203423648_4',
 '132133148_0',
 '12231323_11',
 '326320802_0',
 '359234161_10',
 '850373343_0',
 '6132490_54',
 '35482779_1',
 '199567766_0',
 '124269462_0',
 '203653599_0',
 '313768576_5',
 '123155177_11',
 '34873016_1',
 '5385464_16',
 '56702229_0',
 '172886815_0',
 '12241387_5',
 '97335851_0',
 '32226925_0',
 '6382443_60',
 '52830578_0',
 '197467547_0',
 '124466376_0',
 '533699027_0',
 '470931657_0',
 '428006984_13',
 '6512506_25',
 '840894901_14',
 '289811313_3',
 '34917200_0',
 '98391893_0',
 '715620718_28',
 '840974092_0',
 '393460169_0',
 '5705941_2',
 '460740113_0',
 '852714836_26',
 '828749421_1',
 '269640782_41',
 '133446228_0',
 '31096252_0',
 '120733454_1',
 '12222165_24',
 '656367615_0',
 '371463612_5',
 '34913442_3',
 '31536091_0',
 '28402888_0',
 '436971908_0',
 '480256278_0',
 '418552418_0',
 '129632389_0',
 '418802239_0',
 '199497096_4',
 '197467550_0',
 '132154148_0',
 '5393016_5',
 '846984532_13',
 '656099406_9',
 '418785118_0',
 '5505818_0',
 '124413050_0',
 '771804297_1',
 '371463616_8',
 '842903613_0',
 '5288409_23',
 '480175323_0',
 '448229019_0',
 '623957663_11',
 '708757322_2',
 '58056444_12',
 '621590688_0',
 '206913334_12',
 '761695759_1',
 '844941271_2',
 '246387285_2',
 '53247273_0',
 '5262965_25',
 '23576074_0',
 '125693820_1',
 '12237527_8',
 '428260778_4',
 '197467065_1',
 '575827821_2',
 '33261521_0',
 '12222100_1',
 '81050150_3',
 '235105310_3',
 '12198897_48',
 '223079579_2',
 '12206292_5',
 '685765234_0',
 '13846569_4',
 '98662733_0',
 '353930222_8',
 '848062750_0',
 '758315595_82',
 '97660606_0',
 '824225422_17',
 '825734617_5',
 '33805275_14',
 '136269826_6',
 '42299058_1',
 '187869905_2',
 '30369855_0',
 '605059072_0',
 '334629805_0',
 '143173704_12',
 '842282332_0',
 '98365971_0',
 '5920778_4',
 '828399308_12',
 '698439791_0',
 '34874885_0',
 '126271045_6',
 '440158185_1',
 '5434698_0',
 '127790466_11',
 '285599594_2',
 '842212182_0',
 '197591992_2',
 '107644060_7',
 '347631717_4',
 '791845970_6',
 '34915563_1',
 '853182607_0',
 '306057808_13',
 '589339545_0',
 '226768535_3',
 '172772705_0',
 '848331627_4',
 '341457987_1',
 '150278825_2',
 '6333863_2',
 '34915560_2',
 '5914777_16',
 '98365974_0',
 '846618746_0',
 '92367262_0',
 '223567283_8',
 '371463623_18',
 '447137394_1',
 '303408677_0',
 '687454672_29',
 '23122927_0',
 '313643151_0',
 '852976883_0',
 '163027253_3',
 '199280479_4',
 '12232724_24',
 '447784891_5',
 '5501595_0',
 '5520143_0',
 '129635850_2',
 '698439789_3',
 '561612522_1',
 '6451908_21',
 '392565284_0',
 '165762580_0',
 '91484558_0',
 '513490815_5',
 '674115579_0',
 '58690317_6',
 '448051935_6',
 '844850358_21',
 '30967172_4',
 '569564809_0',
 '5243775_2',
 '461338187_0',
 '466477439_0',
 '453528953_0',
 '470931653_0',
 '23530063_0',
 '89784256_23',
 '197466359_2',
 '474499736_0',
 '123268619_0',
 '203423648_0',
 '6126775_38',
 '261560693_12',
 '453528960_2',
 '824225408_3',
 '621646828_9',
 '5430093_1',
 '188367412_0',
 '851468257_0',
 '236943235_0',
 '379472263_0',
 '6501372_1',
 '341458009_0',
 '35138630_0',
 '197441689_5',
 '93823250_0',
 '846775317_0',
 '34926776_0',
 '678092928_6',
 '199497096_11',
 '90163554_3',
 '123416197_2',
 '39276933_1',
 '118776285_3',
 '418824605_1',
 '34720771_0',
 '5509362_0',
 '749721053_4',
 '776665611_1',
 '156896689_0',
 '754820697_0',
 '128691479_3',
 '43250036_0',
 '24386178_0',
 '456149326_0',
 '6507424_9',
 '6128596_12',
 '12235847_3',
 '109484346_0',
 '11079018_4',
 '6130255_24',
 '549970860_0',
 '203307800_15',
 '29170228_0',
 '135838502_2',
 '149674712_1',
 '30374100_0',
 '34424463_2',
 '118136286_9',
 '579291047_2',
 '47270467_17',
 '5911420_20',
 '5833036_11',
 '6460349_29',
 '221226625_0',
 '5509708_0',
 '504314176_0',
 '23531023_0',
 '34771487_0',
 '30474315_0',
 '188367412_5',
 '12229832_31',
 '34912762_0',
 '246392218_2',
 '164769675_6',
 '6484401_8',
 '42712952_1',
 '850577263_1',
 '6404323_2',
 '141258952_0',
 '52825159_0',
 '844941271_92',
 '601932343_0',
 '842501283_0',
 '42277138_0',
 '775108836_5',
 '737549606_2',
 '171542393_0',
 '285381201_0',
 '34916037_1',
 '745621204_34',
 '29170585_0',
 '100930373_1',
 '180440809_5',
 '98399510_0',
 '127676168_9',
 '22709948_24',
 '842536185_0',
 '156745549_0',
 '197438462_0',
 '844941271_1',
 '5532451_0',
 '36895621_45',
 '840392569_0',
 '5703446_0',
 '381185362_0',
 '30287157_0',
 '784803868_45',
 '87219981_3',
 '106428748_5',
 '91368055_0',
 '187252527_0',
 '548066230_0',
 '758315595_86',
 '5507254_4',
 '835364314_2',
 '88264582_1',
 '686424638_0',
 '840788476_0',
 '606856543_0',
 '371463623_7',
 '187863245_0',
 '36185954_0',
 '458499433_0',
 '5511702_1',
 '844941271_123',
 '35354754_0',
 '34419790_0',
 '402964021_0',
 '847396287_0',
 '477805655_69',
 '30261806_0',
 '449496101_0',
 '6437849_2',
 '5539228_10',
 '772988924_1',
 '653725883_0',
 '166276396_0',
 '178418363_1',
 '95599983_0',
 '747735617_2',
 '5445051_1',
 '768108719_6',
 '824418946_8',
 '5931069_1',
 '5843378_9',
 '721262754_1',
 '762212395_0',
 '5916851_2',
 '340939543_0',
 '6342949_14',
 '196941727_4',
 '35453386_0',
 '24446540_0',
 '117449365_3',
 '840774843_0',
 '149663184_1',
 '187863168_7',
 '51758630_1',
 '834008953_27',
 '5697222_8',
 '460529314_0',
 '209281289_19',
 '143657604_0',
 '822065068_1',
 '844941271_46',
 '479249780_0',
 '853763273_1',
 '247783355_29',
 '384163550_0',
 '257006340_9',
 '30263303_0',
 '34917352_3',
 '89784256_28',
 '361380050_1',
 '99134979_0',
 '848331626_0',
 '696790560_2',
 '799244594_1',
 '5511410_0',
 '109269250_0',
 '12245531_29',
 '5250018_0',
 '187863179_2',
 '5510781_0',
 '5372140_35',
 '431097718_0',
 '29170252_0',
 '12241056_11',
 '187863179_1',
 '773664386_0',
 '758315595_89',
 '123280662_2',
 '6403812_11',
 '217907792_9',
 '177598227_3',
 '197438451_0',
 '475249717_0',
 '34340597_0',
 '6131065_35',
 '23350544_28',
 '51758609_0',
 '772988925_1',
 '840000393_1',
 '272519452_37',
 '392576413_0',
 '187869905_4',
 '772988911_0',
 '12243088_6',
 '476724560_0',
 '6490953_33',
 '409389629_1',
 '686424546_0',
 '53062809_0',
 '23689900_55',
 '91633760_2',
 '704797186_2',
 '197467060_1',
 '835364317_12',
 '589306337_1',
 '445522041_0',
 '56701675_0',
 '31799605_0',
 '702932963_12',
 '428043295_12',
 '824114668_0',
 '117315164_0',
 '453776060_4',
 '449152759_0',
 '6437624_6',
 '6189236_7',
 '12238245_16',
 '844941271_17',
 '418733939_0',
 '654740974_3',
 '31324752_0',
 '449152716_0',
 '835364317_21',
 '5445058_13',
 '840849241_0',
 '465207012_0',
 '12243645_3',
 '304153210_0',
 '35483659_0',
 '119671863_4',
 '828399308_6',
 '853183204_1',
 '5288164_1',
 '428320836_7',
 '6140369_97',
 '458499432_0',
 '35454325_1',
 '824418946_9',
 '13851594_13',
 '324618325_0',
 '169284914_1',
 '24437301_1',
 '848856337_0',
 '418731564_8',
 '678963992_8',
 '218963943_28',
 '840571911_1',
 '89046623_3',
 '466944654_0',
 '366736713_13',
 '117809222_2',
 '197591987_1',
 '205951177_0',
 '30369444_0',
 '143657594_7',
 '220298983_0',
 '6187609_4',
 '261426627_39',
 '533056688_0',
 '687875372_0',
 '69104515_20',
 '119009165_2',
 '357956797_3',
 '659606359_2',
 '447780685_0',
 '700804589_0',
 '359444476_5',
 '91634930_0',
 '34915563_0',
 '12238967_9',
 '122601727_2',
 '126747528_2',
 '700795181_0',
 '498148391_0',
 '239924216_37',
 '367909488_0',
 '5918827_5',
 '6139779_34',
 '338734841_34',
 '6071721_4',
 '161794288_4',
 '842536070_0',
 '197463123_0',
 '228416369_58',
 '42686807_0',
 '684998629_0',
 '32703387_1',
 '123280662_3',
 '418577865_0',
 '781979940_2',
 '34720563_4',
 '676445830_0',
 '428255700_29',
 '314897647_1',
 '31248273_7',
 '593233954_5',
 '115055583_3',
 '844941271_67',
 '659850053_0',
 '620893715_2',
 '827490096_0',
 '164769675_8',
 '51544377_1',
 '118116181_1',
 '12239719_11',
 '41549576_4',
 '119667379_2',
 '829064557_0',
 '37545431_1',
 '589495297_0',
 '34894565_0',
 '850601991_3',
 '451677048_1',
 '127459729_7',
 '203521973_0',
 '604479697_2',
 '846269485_6',
 '853813022_0',
 '164769675_2',
 '5503459_0',
 '5507152_8',
 '34320248_0',
 '5511534_0',
 '699530786_16',
 '401697023_41',
 '121510101_8',
 '136269826_5',
 '608024718_0',
 '144142390_12',
 '584907047_0',
 '34928455_0',
 '88762588_2',
 '446476815_7',
 '814326475_1',
 '203538941_0',
 '119671863_17',
 '135855235_1',
 '824126997_0',
 '42341686_62',
 '34418648_0',
 '150422449_0',
 '143011877_0',
 '850802697_0',
 '838032370_1',
 '428292045_0',
 '463383075_0',
 '140334733_1',
 '772282585_73',
 '6125662_24',
 '841234478_0',
 '95294315_0',
 '350671219_18',
 '846300370_1',
 '428026920_16',
 '5753959_5',
 '37546790_0',
 '687481410_16',
 '768108719_19',
 '120733451_0',
 '853864068_7',
 '842536119_0',
 '156536873_0',
 '479245679_1',
 '164088518_4',
 '586090746_1',
 '827533396_0',
 '199021525_5',
 '392579018_0',
 '390732298_3',
 '12245400_7',
 '834823281_1',
 '852714836_8',
 '30474319_0',
 '12244253_8',
 '44791492_0',
 '177212239_0',
 '36895621_44',
 '156896688_1',
 '116427547_0',
 '808631840_5',
 '125099910_5',
 '285766802_15',
 '41887959_0',
 '6520600_8',
 '6131104_10',
 '35454325_0',
 '397198651_2',
 '426066336_0',
 '125679015_3',
 '196913325_0',
 '31779570_0',
 '177689287_6',
 '42682095_0',
 '270786068_0',
 '284321301_23',
 '844941271_134',
 '203391379_0',
 '846295747_14',
 '187863160_9',
 '371463614_33',
 '149663089_0',
 '687421229_16',
 '579291047_16',
 '24529845_0',
 '466476118_0',
 '118776173_0',
 '833480327_1',
 '24839818_2',
 '30474374_0',
 '702932963_20',
 '842536035_0',
 '321567807_0',
 '6070934_12',
 '39869405_22',
 '284715328_24',
 '12240246_3',
 '135933327_4',
 '418711737_0',
 '589495344_3',
 '129635841_0',
 '124282806_0',
 '828601338_3',
 '737190672_1',
 '49067835_6',
 '831641978_1',
 '428062777_5',
 '31235786_3',
 '108400060_6',
 '120562595_0',
 '367908053_0',
 '106855882_4',
 '6140919_35',
 '37273256_7',
 '405886850_1',
 '6354665_51',
 '197598927_5',
 '755571669_0',
 '41887950_0',
 '737565278_2',
 '6389764_51',
 '119671863_0',
 '108522882_3',
 '758867119_14',
 '6378450_16',
 '370619092_0',
 '136652747_0',
 '6181241_20',
 '842501359_0',
 '6363240_2',
 '6123753_8',
 '686272320_2',
 '173544703_8',
 '686424575_0',
 '52557596_7',
 '5919428_5',
 '358928375_16',
 '62149951_0',
 '428094979_5',
 '12171353_10',
 '846380152_0',
 '125686436_3',
 '368032837_0',
 '749702795_78',
 '140199088_0',
 '91482560_0',
 '5099971_0',
 '376539554_52',
 '341457994_0',
 '95455523_2',
 '589306335_0',
 '317447177_2',
 '409389633_3',
 '33724044_0',
 '841194531_0',
 '840894901_19',
 '98394933_0',
 '688803425_10',
 '589546992_1',
 '360800933_13',
 '188813332_0',
 '321567808_2',
 '36836822_1',
 '826002196_0',
 '6509460_4',
 '470164828_0',
 '6472620_35',
 '828178513_0',
 '12228821_1',
 '5753957_1',
 '196919958_0',
 '369631210_14',
 '327143552_0',
 '117182080_0',
 '276902669_0',
 '41811661_0',
 '845339770_0',
 '363407299_2',
 '247838619_24',
 '164752338_9',
 '449152764_0',
 '163871741_0',
 '125392641_0',
 '182412642_4',
 '89079147_1',
 '371463614_10',
 '50096232_0',
 '347633912_0',
 '844941271_13',
 '40998306_0',
 '742040738_0',
 '42301317_2',
 '838486790_0',
 '34921817_0',
 '367735784_0',
 '196919957_0',
 '36870383_0',
 '91096198_3',
 '314897647_3',
 '88264590_0',
 '838032371_6',
 '197591983_9',
 '40117425_0',
 '652147055_1',
 '842282399_0',
 '6463063_8',
 '91368058_0',
 '687472105_19',
 '25798005_13',
 '139205903_0',
 '622276055_10',
 '842501355_0',
 '806993117_0',
 '6139499_32',
 '71282281_1',
 '182086516_0',
 '12223243_21',
 '445834647_0',
 '428025250_2',
 '785857305_60',
 '257030801_0',
 '442147561_15',
 '791845970_0',
 '687472037_11',
 '504647406_17',
 '5913456_5',
 '31847029_1',
 '28756236_0',
 '119112420_2',
 '186973845_0',
 '12242709_29',
 '31527818_0',
 '44815091_0',
 '451688789_0',
 '844941271_26',
 '449152741_0',
 '382598011_16',
 '533064625_0',
 '197464742_0',
 '200543138_0',
 '203307800_0',
 '12232667_5',
 '797778667_9',
 '92363772_2',
 '12211938_37',
 '140199132_0',
 '418558464_0',
 '42712944_2',
 '840808120_2',
 '771782892_1',
 '34926116_1',
 '242888828_1',
 '5525485_6',
 '5447816_8',
 '515977522_3',
 '220298983_1',
 '35352690_0',
 '97335851_1',
 '37733361_0',
 '846295747_3',
 '5391474_11',
 '51758630_3',
 '98364024_0',
 '197587459_0',
 '197467549_0',
 '736219389_79',
 '34912569_0',
 '30118291_0',
 '815091037_6',
 '140968176_2',
 '209282005_22',
 '844854017_1',
 '842282391_0',
 '140483396_0',
 '476013208_0',
 '6521535_7',
 '36895621_43',
 '128948392_1',
 '24628536_13',
 '12223362_4',
 '223009210_0',
 '34921703_0',
 '120757680_0',
 '844941271_12',
 '371463610_11',
 '59662529_0',
 '160961666_7',
 '203425884_1',
 '5512110_10',
 '61478896_0',
 '775822669_0',
 '833077676_2',
 '844941271_25',
 '488902720_0',
 '279258345_17',
 '346608257_7',
 '823778340_3',
 '12242451_53',
 '12199678_10',
 '5917647_5',
 '824225403_9',
 '607972542_0',
 '12227791_22',
 '168442065_1',
 '844941271_84',
 '828420371_2',
 '6136830_45',
 '12221931_9',
 '373360271_0',
 '22710901_6',
 '5521821_5',
 '827490095_2',
 '705212014_22',
 '258957001_38',
 '845016358_1',
 '205296079_0',
 '23646894_0',
 '89784256_14',
 '6136801_8',
 '5517575_0',
 '32053493_4',
 '32290412_0',
 '45810436_2',
 '6140369_99',
 '89514507_0',
 '425272688_2',
 '381428909_0',
 '371463616_0',
 '44923677_0',
 '755762109_20',
 '32144741_0',
 '827364060_0',
 '694895559_0',
 '120723513_0',
 '111872331_7',
 '99132406_2',
 '168442831_5',
 '56701883_0',
 '197450273_5',
 '5516126_0',
 '327505405_0',
 '548780569_3',
 '238383299_1',
 '107328169_0',
 '428255700_31',
 '822065068_0',
 '221530105_13',
 '344579895_0',
 '120744055_4',
 '23689804_39',
 '98391890_0',
 '844941271_30',
 '32144794_0',
 '476067574_0',
 '108532312_7',
 '272521790_30',
 '319200608_4',
 '6186865_8',
 '44793082_1',
 '41889193_0',
 '56702125_0',
 '12189803_8',
 '334633268_0',
 '5506924_11',
 '179187378_0',
 '181388014_38',
 '853111296_0',
 '197450273_14',
 '34710280_1',
 '53062743_0',
 '842501323_0',
 '826801703_2',
 '685765182_0',
 '437764910_6',
 '285599594_5',
 '32238421_0',
 '124127243_5',
 '32249398_4',
 '5317352_17',
 '37273124_1',
 '821998086_5',
 '402947113_1',
 '371463614_24',
 '5913820_3',
 '187863163_6',
 '12239522_28',
 '749702795_80',
 '155328187_1',
 '841223355_0',
 '187863149_3',
 '197577012_1',
 '34712548_0',
 '827151026_0',
 '838032371_5',
 '199333158_6',
 '34769595_0',
 '140166354_6',
 '12245329_26',
 '676027777_1',
 '34856815_0',
 '847397572_20',
 '123830247_0',
 '35354979_1',
 ...}

In [104]:
(len(set(traj_list) - set(osm_list_all)))/len(traj_list)*100

7.380233250292114

In [107]:
del all_osm1
del all_osm2

Check one trip fro one file

In [73]:
path =r'\\AWS-Model10\Model Data 2\INRIX\trip_paths_usa_wa_puget_sound_201905\date=2020-12-29\reportId=45749\v1\data\trajs' 
File_List= glob.glob(path + "/*csv.gz")
traj_df = pd.read_csv(file_, compression='gzip',names = traj_header.columns,sep=',',  error_bad_lines=False)

C:\Users\pbutrina\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
traj_df[traj_df['TripId'] == 'cc44f2ff32c9c2790d66eac1dda2387c']

,TripId,DeviceId,ProviderId,TripTimezone,TrajIdx,TrajRawDistanceM,TrajRawDurationMillis,SegmentId,SegmentIdx,LengthM,CrossingStartOffsetM,CrossingEndOffsetM,CrossingStartDateUtc,CrossingEndDateUtc,CrossingSpeedKph,OnRoadNetworkSnapCount,ErrorCodes
4,cc44f2ff32c9c2790d66eac1dda2387c,8ef588a5d4e7bb379f3ad9be55aa0c39,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,23119.078003,1720981,-428004181_0,65,4.320,0.0,4.320,2019-05-10T13:53:09.930Z,2019-05-10T13:53:10.272Z,45.530336,0,NaN
675,cc44f2ff32c9c2790d66eac1dda2387c,8ef588a5d4e7bb379f3ad9be55aa0c39,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,23119.078003,1720981,-353714432_0,137,30.917,0.0,30.917,2019-05-10T13:59:04.192Z,2019-05-10T13:59:05.566Z,80.981469,0,NaN
722,cc44f2ff32c9c2790d66eac1dda2387c,8ef588a5d4e7bb379f3ad9be55aa0c39,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,23119.078003,1720981,99094602_0,43,49.937,0.0,49.937,2019-05-10T13:52:32.751Z,2019-05-10T13:52:36.539Z,47.459019,0,NaN
2349,cc44f2ff32c9c2790d66eac1dda2387c,8ef588a5d4e7bb379f3ad9be55aa0c39,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,23119.078003,1720981,-428056967_0,133,44.882,0.0,44.882,2019-05-10T13:58:56.525Z,2019-05-10T13:58:59.510Z,54.118661,1,NaN
3323,cc44f2ff32c9c2790d66eac1dda2387c,8ef588a5d4e7bb379f3ad9be55aa0c39,54229abfcfa5649e7003b83dd4755294,America/Los_Angeles,0,23119.078003,1720981,-428003217_1,47,26.172,0.0,26.172,2019-05-10T13:52:41.747Z,2019-05-10T13:52:43.732Z,47.459019,0,NaN

In [77]:
os.getcwd()

'X:\\Trans\\Freight\\Data\\OSM'